@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-size: 24px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.city {
    position: relative;
    top: 20px;
    width: 250px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

div span {
    font-size: 25px;
}

#temperature {
    font-size: 52px;
}

.dial {      
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.hide {    
    position: relative;
    top: 5px;
    opacity: 0;
    transition: 1s linear;
} 

.show {
    top: 0;
    opacity: 1;
}

.reduce {
    position: relative;
    top: 5px;
    opacity: 0;
    transition: 1s linear;
}

.growth {
    opacity: 1;    
    transform: scale(1.1);
}