@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    font-size: 24px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.city {
    width: 250px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

div span {
    font-size: 25px;
}

#temperature {
    font-size: 48px;
}

.dial {      
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.invisible {    
    opacity:0; 
} 

.visible {
    opacity: 1; /*Элемент полностью прозрачный (невидимый)*/
    transition: 2s; /*Скорость перехода состояния элемента*/    
    /* opacity:1;
    transition: 1s; */
}